//home acorodian sectio start//
    #acorodian{
        padding: 50px 0px 20px;
        .podem-heading{
            text-align: center;
          h1{
            font-size: 50px;
            font-weight: bold;
          }
        }
    }
//home acorodian sectio end//